body {
    background: url("Fundo.jpeg") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

h1{
    text-align: center;
    color: white;
}

div {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}